<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body BGCOLOR="#F4F4FF" text="#000000" link="#0000FF" vlink="#7F0F9F" alink="#FF0000">

    <center>
        <h1>HI Abcde</h1>
        <p>

            <a href="archivepix">Discover the cosmos!</a>
            Each day a different image or photograph of our fascinating universe is
            featured, along with a brief explanation written by a professional astronomer.
        <p>

            <%=new Date(info.date)%>
            <br>
        
            <a href="/images/<%=info.url%>">
                <img src="/images/<%=info.url%>" alt="See Explanation.  Clicking on the picture will download
the highest resolution version available." style="max-width:100%"></a>

    </center>

    <p>

        <b> Explanation: </b>
        
        <p>
                <center>
                    <p>
                        <hr>
                        <b> Authors & editors: </b>
                        <a href="">Sateesh Bugga</a>
                        <hr>
                    <p>
                </center>
            </p>
    </p>

</body>

</html>